@media(max-width:575px){
	.top-nav{
		&_btn{
			display: block;
		}
		&_menu{
			display: none;
			flex-direction: column;
			li{
				text-align: center;
				margin: 0;
				line-height: 2;
				a{
					&::after{
						display: none;
					}
				}
			}
			&__active{
				display: flex;
			}
		}
	}
	.footer{
		&_brand{
			display: block;
			margin: 0 auto;
			float: none !important;
		}
		&_text{
			display: block;
			text-align: center;
			margin-bottom: 2rem;
		}
		&_caption{
			text-align: center;
		}
		&_menu{
			float: left;
			display: inline-block;
			width: 100% !important;
			clear: both;
			text-align: center;
		}
		&-contacts{
			text-align: center !important;
		}
	}
	.title_search-page{
		text-align: center;
	}
	.title_object{
		p{
			margin-top: 2rem !important;
		}
	}
	.price_object{
		p{
			float: left !important;
		}
	}
}

@media(max-width: 767px){
	.counter-box{
		border-bottom: 1px solid #888;
	}
}

@media(max-width: 828px){
	.footer{
		&_brand{
			float: left;
			margin-bottom: 2rem;
		}
		&_text{
			margin-bottom: 2rem;
			display: inline;
			text-align: center;
		}
		&_menu{
			float:left;
			display: block !important;
			width: 100% !important;

		}
	}
}

@media(max-width:991px){
	.top-nav{
		&_menu{
			li{
				a{
					&::after{
						display: none;
					}
				}
			}
		}
	}
	.params-object{
		margin-bottom: 3rem;
	}
	.description{
		margin-bottom: 3rem;
	}
	.sidebar{
		margin-bottom: 3rem;
	}
	
	.counter-box{
		border-right: none !important;
	}
}
