// import
@import "colors";

html{
	font-size: 16px;
}

body{
	user-select: none;
	margin: 0;
	color: black;
	font-family: 'PT Sans', sans-serif;
	background-color: #fff;
}

#go-top {
	position: fixed;
	color: #fff;
	font-weight: bold;
	opacity: 0.5;
	bottom: 278px;
	text-align: center;
	border-radius: 5%;
	padding: 10px;
	right: 20px;
	width: 50px; 
	cursor:pointer; 
	display:none;
	background: $active-link;
	&:hover{
		opacity: 1;
		background: #333;
	}
}

img{
	max-width: 100%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
// start style header
.header{
	&_preview{
		background-image: url(../img/main-page-background.jpg);
		background-size: cover;
		background-position: 50%;
		margin-bottom: 5rem;
	}
}

.full-nav{
	background-color: $add-bg-alpha;
}

.top-panel{
	padding: 0;
	border-bottom: solid 2px #252F37;
	&_location{
		font-size: 0.8rem;
		color: $white;
		font-style: italic;
	}
	&_social-btn{
		float: right;
		display: flex;
		list-style-type: none;
		margin: 0;
		li{
			margin-right: 10px;
			font-size: 1rem;
			a{
				color: $active-link;
				&:hover{
					color: $white
				}
			}
		}
	}
}

.top-nav{
	padding: 0;
	position: relative;
	&_brand{
		&_logo{
			display: inline-block;
			width: 100px;
		}
		p{
			display: inline;
			color: $white;
		}
	}
	&_btn{	
		display: none;
		font-size: 1.8rem;
		color: $white;
		background-color: transparent;
		border: none;
		position: absolute;
		right: 15px;
		top: -50px;
		&:hover{
			cursor: pointer;
		} 
		
	}
	&_menu{
		margin-top: 1rem;
		list-style: none;
		display: flex;
		padding: 0;
		li{
			margin-right: 20px;
			a{
				font-size: 0.9rem;
				text-transform: uppercase;
				text-decoration: none;
				color: $white;
				font-weight: bold;
				&::after{
					content:'';
					display: block;
					width: 100%;
					height: 2px;
					background-color: $active-link;
					transform: translateY(24px) scale(0);
					transition: all 0.2s;
				}
				&:hover{
					&::after{
						transform: translateY(24px) scale(1);
					}
					color: $active-link
				}
			}
		}
	}
	&_contacts{
		margin-right: 10px;
		list-style-type: none;
		text-align: right;
		color: $white;
		&_phone{
			font-size: 1.5rem;
			font-weight: 700;
			i{
				font-size: 2rem;
				color: $active-link;
			}
		}
	}
}
// end style header

.welcom{
	color: $white;
	&_preview{
		h1{
			text-align: center;
			font-size: 3rem;
			font-style: italic;
		}
		p{
			text-align: center;
			font-size: 1.2rem;
			font-style: italic;
		}
	}
}

// start style form
.main-page_form{
	background-color: $add-bg-alpha;
	margin: 5rem auto;
	opacity: 0.8;
	transition: all 0.2s;
	&_inner{
		padding: 20px;
		h3{
			font-size: 1rem;
		}
		&_object{
			font-size: 0.8rem;
			position: relative;
			background-color: #fff;
			border:none;
			color: black;
			display: block;
			padding: 0 5px;
			outline: none;
			margin-bottom: 20px;
			width: 220px;
			height: 35px;
			select{
				width: 100%;
				height: 35px;
				background: transparent;
				outline: none;
				padding: 0;
				border: 0;
				appearance: none;            /* remove arrow        */
				-webkit-appearance: none;    /* remove arrow Chrome */
				-moz-appearance: none;       /* remove arrow FF     */
			}
			.select-arrow {
				position: absolute;
				z-index: 9999;
				right: 4px;
				bottom: 5px;
				border: 8px solid;
				border-color: white white $active-link white;
				border-right: 0;
			}
			&_btn{
				font-style: inherit;
				font-weight: 700;
				color: $white;
				background-color: $active-link;
				border: none;
				transition: all 0.2s;
				&:hover{
					color: $add-bg;
					background-color: $white;
				}
			}
		}
	}
	&:hover{
		opacity: 1;
	};
}
// end style form


// start style service
.preview-service{
	background-color: $prev-bg;
	position: relative;
	padding: 90px 0;
	&_caption{
		display: block;
		text-align: center;
		&_content{
			position: absolute;
			top:0;
			transform: translate3d(-50%, -50%, 0);
			display: inline-block;
			padding: 10px 30px;
			text-align: center;
			background-color: #fff;
			box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
			&_inner{
				font-size: 1.3rem;
				display: inline;
				color: rgb(0,0,0);
			}
		}
	}
	.icon-box{
		text-align: center;
		a{
			text-decoration: none;
		}
		&_preview_ico{
			i{
				box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
				padding: 30px;
				margin-bottom: 15px;
				border-radius: 10px;
				background-color: $white;
				font-size: 3rem;
				color: $active-link;
				transition: all 0.2s;
				&:hover{
					background-color: $active-link;
					color: #fff;
				}
			}
			&_caption{
				color: rgb(0,0,0);
				font-size: 1.3rem;
			}
			&_desc{
				font-size: 0.8rem;
				color: #888;
			}
		}
	}
}
// end style service

// import style slick slider
@import "slick-theme";
@import "slick";

//start style slider
.preview-card-object{
	text-align: center;
	margin-bottom: 80px;
	.caption{
		margin-top: 50px;
		margin-bottom: 25px;
		font-size: 1.6rem;
	}
	a{
		text-decoration: none;
		&:focus{
			outline:none;
		}
	}
}

.slider-list-object_slide{
	padding: 10px;
	margin: 0 15px;
}

.card-object{
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	&_photo{
		background-size: cover;
		background-position: 50%;
		width: 100%;
		height: 260px;
	}
	&_desc{
		text-align: left;
		font-size: 0.8rem;
		color: #888;
		&_price{
			padding: 10px 20px;
			color: rgb(0, 0, 0);
			font-size: 1.4rem;
			font-weight: bold;
		}
		&_title{
			background-color: rgb(247, 247, 247);
			padding: 10px 20px;
			p{
				margin-bottom: 0;
			}
			&_room{
				color: rgb(0, 0, 0);
				font-size: 1.2rem;
			}
			&_loc{
				i{
					font-size: 1rem;
				}
			}
		}
		&_details{
			&_list{
				display: flex;
				padding-left: 20px;
				padding-top: 10px;
				list-style-type: none;
				&_item{
					margin-right: 50px;
				}
			}
		}
		&_additionally{
			&_list{
				display: flex;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 10px;
				list-style-type: none;
				justify-content: space-between;
			}
		}
	}
	&:hover{
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
	}
}
// end style slider

// start style footer
.footer{
	color: #888;
	background-color: $dark;
	padding: 20px 0;
	a{
		color: #666;
		text-decoration: none;
	}
	.footer_brand{
		width: 100%;
		text-align:center;
		.footer_brand_logo{
			width: 7.5rem;
		}
		.footer_brand_text{
			color: #fff;
			font-size: 1.1rem;
			line-height: 1;
			font-weight: bold;
		}
	}
	small{
		font-size: 0.7rem;
		text-align: center;
		display: block;
		margin-top: 40px;
	}
	.footer_caption{
		color: #fff;
		font-size: 1.3rem;
	}
	.footer_menu{
		font-size: 1rem;
		display: inline-block;
		width: 50%;
		float: left;
		padding: 0;
		list-style-type: none;
		line-height: 30px;
		a{
			transition: all 0.2s;
			&:hover{
				color: $active-link;
			}
		}


	}
	.footer-contacts{
		text-align:right;
		&_phone{
			font-size: 1.5rem;
			font-weight: 700;
			color: $active-link;
			i{
				font-size: 2rem;
				color: $active-link;
			}
		}
		.footer_social-btn{
			list-style-type: none;
			padding: 0;
			margin-bottom: 0;
			li{
				display: inline-block;
				font-size: 1.5rem;
			}
		}
	}
}
// end style footer

//style page search
.header{
	background-color: $dark;
	margin-bottom: 2rem;
}

.title-page{
	margin-bottom: 3rem;
	h1{
		font-size: 1.8rem;
		margin: 0;
	}
	span{
		font-size: 1rem;
		color: #888;
	}
}

.search{
	background-color: $prev-bg;
	padding: 50px 0;
	margin-bottom: 5rem;
	&_form{
		width: 100%;
		label{
			font-size: 0.8rem;
			margin-bottom: 0;
		}
		&_inner-object{
			font-size: 0.8rem;
			position: relative;
			background-color: #fff;
			margin: 10px 0 10px 0;
			border: solid grey 1px;
			padding: 0 5px;
			outline: none;
			width: 100%;
			height: 40px;
			&:hover{
				box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.8);
			}
			select{
				width: 100%;
				height: 40px;
				background: transparent;
				border: 0;
				outline: none;
				appearance: none;            /* remove arrow        */
				-webkit-appearance: none;    /* remove arrow Chrome */
				-moz-appearance: none;       /* remove arrow FF     */
			}
			.select-arrow {
				position: absolute;
				z-index: 99999;
				right: 4px;
				bottom: 5px;
				border: 8px solid;
				border-color: white white $active-link white;
				border-right: 0;
			}
			
			&_flat{
				margin: 10px 0;
				p{
					display: inline-block;
					margin-right: 20px;
				}
				input{
					display: none;
				}
				label{
					border: 1px solid gray;
					padding: 7px 10px;
					margin-right: 10px;
					&:hover{
						background-color:$active-link;
						color: #fff;
						box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.8);
					}
				}
				input:checked + label {
					color: #fff;
					background-color: $active-link;
				}
			}
			
			&_btn{
				float: right;
				width: 100px;
				font-style: inherit;
				font-weight: 700;
				color: $white;
				background-color: $active-link;
				border: none;
				transition: all 0.2s;
				&:hover{
					box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
				}
			}
		}
		.add-settings{
			font-size: 0.8rem;
			margin: 15px 0;
			display: inline-block;
			color: $active-link;
			&:hover{
				cursor: pointer;
			}
			.forRotate__active{
				transform: rotate(45deg);
			}
		}
		.add-settings-form{
			.caption_add_settings{
				font-size: 0.8rem;
				display: block;
			}
			display: none;
			&__active{
				display: flex;
			}
			&_chk-set{
				margin-top: 20px;
				margin-right: 20px;
				display: inline-block;
				input[type="checkbox"]{
					display: none;
					&:checked + label:after{
						opacity: 1;
					}
				}
				label{
					position: relative;
					padding-left: 30px;
					&::before{
						content: '';
						position: absolute;
						left: 0;
						top: -3px;
						width: 25px;
						height: 25px;
						border: 1px solid gray;
					}
					&::after{
						color: $active-link;
						font-size: 2rem;
						content: '\2713';
						position: absolute;
						left: 2px;
						top: -10px;
						width: 25px;
						height: 25px;
						opacity: 0;
					}
				}
			}
		}
	}
}

.full-realties{
	margin-bottom: 5rem;
	.card-object{
		margin-bottom: 2rem;
	}
}

//start style object page
.title{
	margin-top: 4rem;
	margin-bottom: 4rem;
	.back-link{
		font-size: 1.7rem;
		border-radius: 5px;
		color: #fff;
		background-color: $active-link;
		padding: 10px 20px;
		&:hover{
			box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
		}
	}
	.title_object{
		p{
			font-size: 1.6rem;
			margin: 0;
		}
		span{
			font-size: 1rem;
			color: gray;
		}
	}
	.price_object{
		p{
			float: right;
			font-size: 1.6rem;
			font-weight: bold;
			color: $active-link;
		}
	}
}

.slider-object{
	margin-bottom: 5rem;
	&_for{
		margin-bottom: 10px;
		.slider-object_inner{
			border-radius: 3px;
			background-size: cover;
			background-position: 50%;
			width: 100%;
			height: 450px;
		}
	}
	&_nav{
		.slider-object_inner{
			border-radius: 3px;
			outline: none;
			background-size: cover;
			background-position: 50%;
			margin: 0 10px;
			width: 100px;
			height: 100px;
		}
	}
}

.params-object{
	background-color: #F8F8F8;
	padding: 20px;
	&_main{
		margin-bottom: 3rem;
	}
	&-inner{
		font-size: 0.8rem;
		margin-bottom: 10px;
		border-bottom: 1px solid #C2C2C2;
		&-value{
			float: right;
		}
	}
	&-title{
		font-size: 1rem;
		margin-bottom: 1.2rem;
		p{
			margin: 0;
		}
	}
	.add-settings-form_chk-set{
		label{
			font-size: 0.8rem;
		}
	}
}

.description{
	.description-title{
		font-size: 1.4rem;
		padding-bottom: 10px;
		border-bottom: 1px solid #C2C2C2;
	}
	.description-text{
		font-size: 0.9rem;
	}
}

.sidebar{
	margin-bottom: 2rem;
	box-shadow: 0px 0px 4px 0px rgba(80, 80, 80, 0.8);	
	.realtor-widget{
		padding: 12px;
		&-details{
			position: relative;
			margin-bottom: 20px;
			&_photo{
				img{
					max-width: 72px;
					border-radius: 50%;
				}
			}
			&_contact{
				position: absolute;
				top: 15px;
				left: 85px;
				p{
					font-size: 0.9rem;
					margin: 0;
					color: gray;
				}
				.fio{
					color: $active-link;
					font-size: 1.1rem;
				}
			}
		}
		&-form{
			&_inner{
				font-size: 0.8rem;
				margin-bottom: 5px;
				border: solid grey 1px;
				padding: 0 5px;
				outline: none;
				width: 100%;
				height: 40px;
				color: gray;
			}
			&_inner_add-info{
				height: 100px;
			}
			&_inner_btn{
				margin-top: 20px;
				color: #fff;
				font-weight: bold;
				background-color: $active-link;
				transition: all 0.2s;
				&:hover{
					box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
				}
			}
		}
	}
}
.map-title{
	padding-bottom: 10px;
	font-size: 1.4rem;
	border-bottom: 1px solid #C2C2C2;
}
.map-object{
	height: 300px;
	margin-bottom: 2rem;
}
.map-contact{
	height: 400px;
	margin-bottom: 2rem;
}
.title-contact{
	margin-bottom: 2rem;
	font-size: 1.3rem;
	span{
		border-bottom: 1px solid black;
	}
}

.text-contact{
	&-inner{
		margin-bottom: 2.5rem;
		&-title{
			font-weight: bold;
		}
		&-value{
			float: right;
		}
	}
}
.feedback-form{
	background-color: #F8F8F8;
	padding: 10px;
	&-title{
		font-size: 1.3rem;
		display: block;
		margin-bottom: 30px;
	}
	&-inner{
		padding-left: 10px;
		display: block;
		margin-bottom: 10px;
		width: 100%;
		height: 40px;
		outline: none;
	}
	textarea{
		padding-left: 10px;
		height: 160px;
		outline: none;
		width: 100%;
	}
}
.service{
	&-title{
		font-size: 1.3rem;
		margin-bottom: 0;
		border-bottom: 1px solid #888;
	}
	&-title-preview{
		display: block;
		font-size: 0.9rem;
		color:#888;
		margin-bottom: 1rem;
	}
	&-description{
		list-style-type: square;
		padding-left: 20px;
	}
}
//adavtiv style
@import "media";